
.button-todo {
    border: none;
    cursor: pointer;
    transition: all .3s;

    &--primary {
        background-color: #65696c;
        color: #fff;
        &:hover {
            filter: brightness(140%);
            transform: scale(1.111);
            border-radius: 10px 10px;
        }
    }

    &--secondary {
        margin-left: 20px;
        background-color:  #345575;
        color: #fff;
    }
}