.form-todo {
    width: 100%;

    &__field {
        display: grid;
        grid-template-columns: auto 20%;
        height: 40px;
        border-style:solid;
        border-width: 1px;
    }
}

input::placeholder {
    transform: translateX(10px);
    font-size: 15px;
}