.form-todo {
    display: flex;
    width: 100%;

    &__field {
        display: flex;
        flex:auto;
        gap: 10px;
        margin-top: 15px;
        height: 40px;
    }

    &__button {
        background-color: #60656a;
        color: #fff;
        width: 20%;
        border: none;
        cursor: pointer;

        &:hover {
            filter: brightness(120%);
            transition: all .5s;
        }
    }

    &__input {
        flex: auto;
    }
}

input::placeholder {
    transform: translateX(10px);
    font-weight: bold;
}