ul {
    padding-left: 0;
}

.list {
    list-style-type: none;

    &__item {
        display: grid;
        grid-template-columns: auto  25%;
        height: 40px;
        margin-top: 15px;
    }
}

.card-todo__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
}

.completed {
    text-decoration: line-through;
}