body, html {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Times New Roman', Times, serif;
}

.app {
    margin: 0 auto;
    width: 700px;
}